<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ChiFouMi</title>
<link rel="icon" href="/images/chifoumi.jpg" type="image/x-icon">
</head>
<body>

<h1>Jouez !</h1>

<div class="Block">
	<a href="/jouer?choixJoueur=0"><img alt="chi" src="/images/chi.png"></a>
	<a href="/jouer?choixJoueur=1"><img alt="fou" src="/images/fou.png"></a>
	<a href="/jouer?choixJoueur=2"><img alt="mi" src="/images/mi.png"></a>
</div>


<h1>Jouez (via formulaire)!</h1>

<form action="/jouer" method="post" class="Block">
	<input class="FormChoix" type=radio name="choixJoueur" value="0"/><img alt="chi" src="/images/chi.png"/><br>
	<input class="FormChoix" type=radio name="choixJoueur" value="1"/><img alt="fou" src="/images/fou.png"/><br>
	<input class="FormChoix" type=radio name="choixJoueur" value="2"/><img alt="mi" src="/images/mi.png"/><br>
	<button type="submit" class="FormSend">Jouer</button>	
</form>

<link rel="stylesheet" href="style.css">
</body>
</html>